<!DOCTYPE html>
<html>
<head>
	<title>APPLE CORNERED</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/features.css">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Roboto+Mono" rel="stylesheet">
</head>
<body>
	<div class="logo"></div>
	<div class="contain">
		<div class="select">
			<div class="tab"><a href="../index.html">ABOUT</a></div>
			<div class="tab"><a href="charas.html">CAST</a></div>
			<div class="tab currenttab"><a class="current" href="features.html">PLOT</a></div>
		</div>
		<div class="file">
			<div class="head">APPLE KINGDOM IS UNDER ATTACK</div>
			<p><img class="center" src="../media/images/kingdom1.png" width="250px" height="108px" alt="apple kingdom"></p>
			<p>For centuries, applekind enjoyed a peaceful and sweet golden age until suddenly, <b>something</b> began terrorizing the Apple Kingdom. Apples everywhere are turning rotten and being eaten in horrific ways!</p>
			<p>There's something sinister going on deep within the core of the Apple Kingdom, and the only hint is a couple of <b>scattered teeth</b>... But who could possibly be brave enough to defeat this evil? </p> 
			
			<div class="head">MONSTERS ALL OVER</div>
			<div class="centerit">
				<img src="../media/images/monster.png" width="120px" height="120px" alt="monster: rotten to the core">
				<img src="../media/images/monster1.png" width="120px" height="120px" alt="monster: peeled apple">
				<img src="../media/images/monster2.png" width="120px" height="120px" alt="monster: the molar terror"><img src="../media/images/monster3.png" width="120px" height="120px" alt="monster: bushel spoiler">
			</div>
			<p>Sporting names like Rotten To The Core, Peeled Apple, The Molar Terror, Bushel Spoiler, terrifying monsters have appeared all over the Apple Kingdom! Despite some being former apple folk, it seems that they have lost their former identities and now crave apple flesh.</p>
			<p>... There are rumors that if you listen carefully to all that groaning, you can hear the name of the one responsible for this mess: "<b>The Doctor</b>"...</p> 
			<div class="head">AN UNLIKELY HERO!</div>
			<table>
				<tr>
					<td><img class="floatleft" src="../media/images/sprite1.gif" width="84px" height="102px" alt="hero with a wooden sword"></td>
					<th><b>Bea</b>, a tiny but perfectly ordinary Fuji apple has set out under the King's orders to end the corruption! Wielding nothing but wits and a wodden sword, Bea slices their way to the hearts of the other apple races, and the heart of the Kingdom's deepest secrets.</th>
					<td><img class="floatright" src="../media/images/sprite.gif" width="60px" height="102px" alt="main hero character, who has an apple for a head"></td>
				</tr>
			</table>
				  
			</p>
		</div>
			
		</div>
	</div>
</body>
</html>